.card {
    box-shadow: 6px 10px 10px gray;
}


/* .card:hover {
    background-color: #3e778e70;
    color: white;
    transition: .2s;

} */

.btn2:hover {

    background-color: rgb(243, 122, 8);
    border: none;
    border-radius: 10px;
    text-decoration: none;
    color: aliceblue;
    margin-top: 5px;


}

.btn1:hover {

    background-color: rgb(243, 122, 8);
    border: none;
    border-radius: 10px;
    text-decoration: none;
    color: aliceblue;
    margin-top: 5px;


}

.btn1 {
    background-color: #78b92d;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    border: none;
    margin-top: 5px;
    padding-top: 2px;

}

.btn2 {
    background-color: #2b06d3de;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    border: none;
    margin-top: 5px;
    margin-left: 45px;

}

img.card-img-top {
    object-fit: cover;
}

.card-text {
    font-size: x-small;
}

.supplier {
    line-height: 0.2;
}

#p-id {
    line-height: 0.2;
    font-size: x-small;

}

.price {
    line-height: 0.2;
}